body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aqua;
    transition: 1s;
}

.slide{
    background-color: red;

}

.container{
    position: relative;
    width: 800px;
    height: 400px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .box{
    position: relative;
    width: 50%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;

}

.container .box h2{
    color: black;
    font-size: 1.2em;   
    margin-bottom: 10px;
}

.container .box button{
    cursor: pointer;
    padding: 10px 20px;
    background-color: white;
    font-size: 16px;
    border: none;
    outline: none;

}

.formBox{
    position: absolute;
    left: 50px;
    width: 350px;
    height: 480px;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
}

.slide .formBox{
    left: 400px;
}

.formBox .form{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: white;
}

.formBox .form.signUpForm{
    top: 100%;
    transition-delay: 0s;
}

.slide .formBox .form.signUpForm{
    top: 0;
    transition-delay: 1s;
}

.formBox .form.signInForm{
    top: 0;
    transition-delay: 1s;
}


.slide .formBox .form.signInForm{
    top: -100%;
    transition-delay: 0s;
}

.formBox .form form{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    width: 100%;

}

.formBox .form form h3{
    font-size: 1.4em;
    color: #333;
    margin-bottom: 20px;

}
.formBox .form form input{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
    font-size: 0.8em;
    text-transform: uppercase;
    border: 1px solid #333;
    letter-spacing: 0.1em;
}

.formBox .form form input[type="submit"]{
    background-color: cornflowerblue;
    border: none;
    color: white;
    max-width: 100px;
    cursor: pointer;
}

.formBox .signUpForm form input[type="submit"]{
    background-color: red;
}

.forgot{
    color: #333;
    letter-spacing: 0.05em;
    font-size: 0.8em;
}